@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@font-face {
	font-family: 'Kapiler';
	src: url(/fonts/kapiler.regular.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'SDglitch';
	src: url(/fonts/sdglitch.ttf);
	font-weight: bold;
}

/* Dark mode colors. */
:root {
	--font-sans: 'Lucida Console';
  	--font-mono: 'Fira Code', monospace;
	--sl-color-accent-low: #36113e;
	--sl-color-accent: #a400c0;
	--sl-color-accent-high: #e3b6ed;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ebc9f3;
	--sl-color-accent: #a700c3;
	--sl-color-accent-high: #4e0e5b;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}

/* Site Title */
.astro-m46x6ez3 {
	font-family: 'Kapiler';
	font-size: 2.5rem;
}

.tag {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.25rem 0.95rem;
    border-radius: 1rem;
    background-color: #e4e4e4; /* Light mode default */
    color: #000;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
.tag:hover {
    background-color: #cc6fdf;
}

html[data-theme="dark"] .tag {
    background-color: #363330;
    color: #fff;
}

html[data-theme="dark"] .tag:hover {
    background-color: #cc6fdf;
}