---
import { getCollection } from 'astro:content';
import Tags from './Tags.astro';

const docs = await getCollection('docs');

const tagsSet = new Set<string>();

docs.forEach(doc => {
  (doc.data.tags || []).forEach((tag: string) => tagsSet.add(tag));
});

const tags = Array.from(tagsSet).sort();
---

<h1 class="tags-title">All Tags</h1>

<Tags tags={tags} withHref={true} />
