---
---

<style>
    :global(body) {
      margin: 0;
      background-color: #19161f; /* light purple */
      font-family: system-ui, sans-serif;
    }
  
    .container {
      max-width: 900px;
      margin: 2rem auto;
      padding: 0 1rem;
      position: relative;
    }
  </style>
  
  <div class="container">

    <slot />
  </div>
  