---
import '../styles/global.css';
---

<style>
    :global(body) {
      margin: 5;
      background-color: #200120; /* light purple */
    }
    .container {
      max-width: 900px;
      margin: 2rem auto;
      padding: 0 1rem;
      position: relative;
    }
  </style>
  
<div class="container">
    <slot />
</div>
  